*

!/.envrc
!/.gitignore
!/.sops.yaml
!/AGENTS.md
!/CLAUDE.md
!/CONTRIBUTING.md
!/LICENSE
!/README.md
!/flake.lock
!/flake.nix

!/.github/
!/.github/workflows/
!/.github/workflows/*.yaml

!/agents/
!/agents/global.md
!/agents/link
!/agents/update-skills
!/agents/skills/
!/agents/skills/*/
!/agents/skills/*/SKILL.md
!/agents/systemd/
!/agents/systemd/*.service
!/agents/systemd/*.timer

!/docs/
!/docs/*.md

!/hosts/
!/hosts/*.nix
!/hosts/pavg15/
!/hosts/pavg15/*.nix
!/hosts/sfx14/
!/hosts/sfx14/*.service
!/hosts/sfx14/sfx14-warp-wireguard

!/modules/
!/modules/nixos/
!/modules/nixos/*.nix
!/modules/nixos/secrets/
!/modules/nixos/secrets/*.sops.yaml
